In [ ]:
import numpy as np
import pandas as pd
import sklearn as sl
import math
from sklearn import linear_model

In [ ]:
df=pd.read_csv("housing.csv")
df

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
totroom=math.floor(df.total_rooms.median())
totroom

2127

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(df[['total_rooms','population','households','median_income']],df.median_house_value)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.coef_

array([-1.92030497e+01, -4.05787435e+01,  2.26599884e+02,  4.56837157e+04])

In [ ]:
reg.predict([[400,565.0,260.0,3.9]])

array([231766.54549937])